<div class="container">

  <%= form_tag do %>

  <%= label_tag :username %>
  <%= text_field_tag :username %><br><br>

  <%= label_tag :password %>
  <%= password_field_tag :password %><br><br>

  <%= submit_tag "Submit" %>

  <% end %>
</div>
